.gridBase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
  .gridBase { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
  .gridBase { grid-template-columns: 1fr; }
}